@media (max-width: 480px) {
    body {
        display: grid;
        grid-template-areas: "header"
                            "main"
                            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        gap: 1em;
        overflow: auto;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    main section {
        width: 85%;
        height: 100%;
        gap: 1em;
    }

    main article {
        width: 100%;
        height: 70px;
        border: 3px solid #eebbc3;
    }

    main article h1 {
        font-size: 1.40rem;
    }

    .picture img {
        width: 55px;
    }

    footer {
        grid-area: footer;
    }

}

@media (max-width: 480px) {
    .picture h2 {
        font-size: 1.25rem;
    }
}

@media (min-width: 481px) and (max-width: 499px) {
    .nombre-materias {
        width: 85%;
        height: 10%;
    }

    main {
        margin-top: 1em;
        overflow: auto;
        height: fit-content;
    }

    main section {
        gap: 1em;
    }

    main article img {
        width: 16%;
    }

    .picture h2 {
        font-size: 1.25rem;
    }

}

@media (min-width: 481px) and (max-width: 699px) {
    main section {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1.5em;
    }

    main article img {
        width: 10%;
    }

    .nombre-materias {
        width: 85%;
        height: 100px;
    }

    .picture img {
        width: 16%;
    }

}

@media (min-width: 700px) and (max-width: 850px) {

    main {
        overflow: auto;
    }

    main section {
        width: 100%;
    }

    .nombre-materias {
        width: 40%;
    }

    .picture h2 {
        font-size: 1.10rem;
    }
}

@media (min-width: 851px) and (max-width: 950px) {
    main section {
        width: 100%;
    }
}
