body{
    display: grid;
    grid-template-areas: "header header"
                         "nav nav"
                         "main main"
                         "footer footer";
    grid-template-rows: auto auto 1fr auto;
    row-gap: 0.5em;
    height: 100vh;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

main{
    grid-area: main;
    display: grid;
    grid-template-areas: "creadores"
                        "lore";
    grid-template-rows: auto;
    row-gap: 2em;
}

.main-creadores { /*Asignación del main*/
    grid-area: creadores;
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    padding-bottom: 0em;
    justify-content: center;
}

.lore{
    grid-area: lore;
}

.informacion-creadores { /*Personalización del section que contiene la información de los creadores*/
    background-color: #fffffe ;
    width: 18em;
    padding: 1.5em;
    padding-bottom: 0em;
    box-sizing: border-box;
    border-radius: 15px;
    margin-left: 0.7em;
    margin-right: 2.5em;
    border: 5px #eebbc3;
    border-style: inset;
    text-align: center;
    
}

.informacion-creadores h1{ /*Personalización del section que contiene la información de los creadores*/
    font-size:1.68em;
    margin-bottom: 0.3em;
    
}

.informacion-creadores img {
    width: 180px;
    height: 180px;
    border: 2px solid black;
    border-radius: 1em;
    align-content: center;

}

.botones-github{  /*Formato para el div que tendra los botones de github*/
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;      
    height: auto;            
    margin-top: 0.4em;
    gap:0.8em;
}

.botones-github a img{
    width: 58%;
    height: auto;
    border:none;
}


.botones-github a:hover{
    cursor: pointer;
}

.lore-texto{
    background-color: #fffffe;
    width: auto;
    padding: 1.5em;
    padding-bottom: 0.3em;
    box-sizing: border-box;
    border-radius: 15px;
    border: 5px #eebbc3;
    margin-left: 11.5em;
    margin-right: 10.8em;
    border-style: inset;
    text-align: center;
}

.lore-texto p{
    text-align: justify;
    margin-top: 1em;
}

footer{
    grid-area: footer;
    margin-top: 0.5em;
}

