@media (max-width: 480px) {
    body {
        display: grid;
        grid-template-areas: "header"
                            "main"
                            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        gap: 1em;
        overflow: auto;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    main.main-alineacion-responsive {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .contenedor-materia-descripcion {
        width: 70%;
        height: 30%;
        padding: 1.5em;
    }

    .contenedor-materia-descripcion.alineacion-responsive-hay-sesiones {
        height: 200px;
    }

    #titulo-materia {
        font-size: 1.25rem;
        font-weight: 400;
    }

    #descripcion {
        font-size: 0.85rem;
    }

    .sesiones-disponibles {
        width: 70%;
        height: 30%;
        padding: 1.5em;
    }

    #sesiones-no-disponibles {
        width: 70%;
        height: 70%;
        text-align: center;
    }

    #sesiones-no-disponibles h1 {
        font-weight: 500;
    }

    footer {
        grid-area: footer;
    }

    #seccion-sesiones-disponibles {
        height: 80%;

    }
}

@media (min-width: 481px)  {
    /*main {
        height: fit-content;
    }*/

    .alineacion-hay-sesiones {
        justify-content: flex-start;
    }

    .contenedor-materia-descripcion {
        width: 90%;
        height: fit-content;
    }

    #titulo-materia {
        font-size: 1.25rem;
        font-weight: 400;
    }

    #descripcion {
        font-size: 0.85rem;
    }

    #seccion-sesiones-disponibles {
        width: 90%;
        height: fit-content;
    }

    .sesiones-disponibles {
        width: 350px;
        height: 200px;
    }

    .cupos-boton button {
        padding: 0.5em;
        border-radius: 0.5em;
    }

    #sesiones-no-disponibles {
        width: 90%;
        height: 300px;
    }

    #sesiones-no-disponibles h2 {
        text-align: center;
    }
}

@media (min-width: 900px) {
    #descripcion {
        font-size: 1.15rem;
    }

    .alineacion-hay-sesiones-responsive {
        justify-content: center;
    }

}
