body {
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 73%;
}

.contenedor {
    position: relative;
    background-color: #FFFFFE;
    border-radius: 2em;
    border: 3px solid #EEBBC3;
    padding: 1.8em 2.5em 1.8em 2.5em;
}

form {
    display: grid;
    grid-template-areas:
        "titulo titulo"
        "nueva_contraseña input_nueva"
        "confirmar_contraseña input_confirm"
        "boton boton";
    gap: 2em;
}

#icono-cerrar_sesion {
    width: 12%;
    height: auto;
}

#titulo_contra {
    grid-area: titulo;
    text-align: center;
}

#lbl_nueva {
    grid-area: nueva_contraseña;
    align-content: center;
}

#lbl_confirm {
    grid-area: confirmar_contraseña;
    align-content: center;
}

#nueva_input {
    grid-area: input_nueva;
}

#ojo_contranueva {
    position: absolute;
    width: 1.2em;
    top: 36%;
    left: 85%;
    background-color: #FFFFFE;
}

#ojo_contraconfirm {
    position: absolute;
    width: 1.2em;
    top: 57.7%;
    left: 85%;
    background-color: #FFFFFE;
}

#confirm_input {
    grid-area: input_confirm;
}

input {
    padding: 0.2em;
    border: 1px solid #EEBBC3;
}

input:focus {
    outline: 2px solid #EEBBC3;
}

button {
   grid-area: boton;
    justify-self: center;
    background-color: #EEBBC3;
    padding: 0.5em 1.2em 0.5em 1.2em;
    border-radius: 1.5em;
    transition: 0.3s ease;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #F5D0D9;
}

button:active {
    transform: scale(0.95);
}

[inert] {
    opacity: 0.5;
}
