@media (max-width: 480px) {
    form {
        display: grid;
        grid-template-areas:
            "titulo"
            "nueva_contraseña"
            "input_nueva"
            "confirmar_contraseña"
            "input_confirm"
            "boton" "boton";
        gap: 1em;
        font-size: small;
    }
    button {
        padding: 0.3em 1em 0.3em 1em;
    }
    #ojo_contranueva {
        top: 7.9em;
        left: 16.5em;
    }
    #ojo_contraconfirm {
        top: 13em;
        left: 16.5em;
    }
    #picture-icono-perfil {
        justify-content: center;
    }
    #icono-cerrar_sesion {
        width: 30%;
    }
}
